<% include partials/header %>

<div class="jumbotron">
    <h1>Banana Merchants</h1>
    <h3>The Worlds Largest Banana Nwtwork</h3>
</div>

<div class="slideshow">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<% include partials/footer %>