<!DOCTYPE html>
<html>
<head>
    <title>
      Banana Stands
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/landing.css"> 
</head>
<body>
    <div class="container">
        <h1>Banana Merchants</h1>
        <h3>The Worlds Largest Banana Network</h3>
        <div class="slideshow">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div>
        <a class="btn btn-primary btn-large" href="/merchants">View Merchants</a>
        </div>
    </div>
</body>
</html>

