.btn-primary{
    background-color: #e8e417;
    border-color: #e8e417;
    color: black;
}

.btn-primary:hover{
    background-color: #565444;
    border-color: #565444;
}

#map {
        height: 100%;
        visibility: hidden;
      }
      
#mapwell{
    width: 250px;
    height: 300px;
    visibility: hidden;
 
}
.well{
    padding: 2px;
}

li>input{
    display: none;
    text-align: center;
}

.list-group>li{
    text-align: center;
}

li>a{
    float: right;
}

.form{
    width: 30%;
    margin: 50px auto;
}

h1{
    text-align: center;
}